.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal.show {
    display: flex;
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 40px;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    z-index: 1001;
}