body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
}

.container {
    position: relative;
    left: 21%;
    max-width: 800px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

h1,
h2 {
    text-align: center;
}

.section {
    margin-bottom: 20px;
    text-align: left;
}

ul {
    padding-left: 70px;
}

li {
    margin: 5px 0;
}